---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

  body{
    background-color: gainsboro; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 16px;
    line-height: 1.6;
    color: black;

   
  }


h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700; 
  margin-top: 1em;
  margin-bottom: 0.5em;
}

article {
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
}

img {
  float: left;
  width: 45%;
  padding: 0 10px; 
  transition: transform 0.3s ease;

  display: block;
  &:hover {
    transform: scale(1.1); 
  }
}

